<template lang="html">
  <div>
    <div v-if="game.isSpy">
      <h2>You are a spy</h2>
      <p>You're in one of the locations below. When you think you know, select where you are. <strong>You only get one guess</strong>.</p>

    </div>
    <div v-else>
      <h2>You are innocent</h2>
      <p>You are all in the following location: <strong>{{ game.location.name }}</strong></p>
      <p>Your role here is: <strong>{{ game.role }}</strong></p>
    </div>

    <template v-if="activeVote">
      <SpyfallVote :vote="activeVote" />
    </template>
    <template v-else>
      <template v-if="mode === null || (mode === 'ACCUSE' && !canAccuse)">
        <div class="text-center">
          <p>Take it in turn to ask questions. Don't let the spy figure out where you are.</p>
          <template v-if="canAccuse">
            <p>When you're ready to accuse, select below:</p>

            <UiButton @click="mode = 'ACCUSE'">Accuse</UiButton>
          </template>
          <template v-else>
            <p>You have already accused someone and can't accuse again</p>
          </template>

          <UiButton @click="mode = 'GUESS'" v-if="game.isSpy">Guess</UiButton>
        </div>

        <hr>

        <p>These are the current possible locations:</p>
        <SpyfallGrid :data="game.choices" key-name="id" label="name" />
      </template>

      <template v-if="mode === 'ACCUSE' && canAccuse">
        <p>Who do you want to accuse?</p>
        <div><UiButton @click="mode = null">Back</UiButton></div>
        <SpyfallGrid :data="accusablePlayers" key-name="id" label="name" @input="accuse" />
      </template>

      <template v-if="mode === 'GUESS'">
        <p>Where do you think you are?</p>
        <div><UiButton @click="mode = null">Back</UiButton></div>
        <SpyfallGrid :data="game.choices" key-name="id" label="name" @input="guess" />
      </template>
    </template>
  </div>
</template>

<script>
import SpyfallGrid from './SpyfallGrid.vue';
import SpyfallVote from './SpyfallVote.vue';
import UiButton from '../../src/UiButton.vue';

import {GUESS_LOCATION, VOTE_START} from './mutation-types';

export default {
  components: {
    SpyfallGrid,
    SpyfallVote,
    UiButton
  },
  data: () => ({
    mode: null
  }),
  computed: {
    self() {
      return this.$store.getters.self;
    },
    game() {
      return this.$store.state.spyfall;
    },
    accusablePlayers() {
      // Can't accuse yourself or someone who's already been accused
      return this.$store.getters.players.filter(player => {
        return player.id !== this.self.id;
      }).filter(player => {
        return !this.game.votes.find(v => v.accusedId === player.id);
      });
    },
    activeVote() {
      return this.game.votes.find(v => v.isActive);
    },
    canAccuse() {
      return this.game.votes.filter(v => v.leaderId === this.self.id).length === 0;
    }
  },
  methods: {
    guess(location) {
      if (confirm(`Are you sure you're all at ${location.name}?`)) {
        this.$store.commit(GUESS_LOCATION, {location: location.id});
      }
    },
    accuse(player) {
      if (confirm(`Are you sure you want to accuse ${player.name}?`)) {
        this.$store.commit(VOTE_START, {accusedId: player.id});
      }
    }
  }
};
</script>

<style lang="css">
</style>
