<template lang="html">
  <ul class="spyfall_grid">
    <li v-for="item in data" :key="item[key]" class="spyfall_grid__item">
      <strong>{{ item[label] }}</strong>
      <br v-if="showInput">
      <UiButton @click="select(item)" v-if="showInput">Select</UiButton>
    </li>
  </ul>
</template>

<script>
import UiButton from '../../src/UiButton.vue';

export default {
  components: {
    UiButton
  },
  props: {
    data: {
      type: Array,
      required: true
    },
    keyName: {
      type: String,
      default: 'id'
    },
    label: {
      type: String,
      default: 'name'
    }
  },
  computed: {
    showInput() {
      return !!this.$listeners.input;
    }
  },
  methods: {
    select(item) {
      this.$emit('input', item);
    }
  }
};
</script>

<style lang="css">
.spyfall_grid {
  list-style-type: none;
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-gap: 1rem;
}

.spyfall_grid__item {
  display: flex;
  padding: 1rem;
  background-color: hsla(0, 100%, 100%, 0.1);
  flex-direction: column;
  justify-content: space-evenly;
}
</style>
