<template lang="html">
  <div>
    {{ leader.name }} has accused {{ accused.name }}
    <div v-if="accused === self">You are accused so cannot vote!</div>
    <div v-if="myVote !== null">You have voted. {{ myVote ? 'You agreed that ' + accused.name + ' is the spy' : 'You think that ' + accused.name + ' is innocent' }}</div>
    <div v-if="accused !== self && myVote === null">
      <p>Do you agree that {{ accused.name }} is the spy?</p>
      <div>
        <UiButton @click="placeVote(true)">Yes, {{ accused.name }} is the spy!</UiButton>
        <UiButton @click="placeVote(false)">No, {{ accused.name }} is innocent!</UiButton>
      </div>
    </div>
  </div>
</template>

<script>
import UiButton from '../../src/UiButton.vue';
import {VOTE_PARTICIPATE} from './mutation-types';

export default {
  components: {
    UiButton
  },
  props: {
    vote: {
      type: Object,
      required: true
    }
  },
  computed: {
    self() {
      return this.$store.getters.self;
    },
    leader() {
      return this.$store.getters.players.find(p => p.id === this.vote.leaderId);
    },
    accused() {
      return this.$store.getters.players.find(p => p.id === this.vote.accusedId);
    },
    myVote() {
      const vote = this.vote.votes.find(v => v.userId === this.self.id);
      return vote ? vote.verdict : null;
    }
  },
  methods: {
    placeVote(verdict) {
      this.$store.commit(VOTE_PARTICIPATE, {voteId: this.vote.id, verdict});
    }
  }
};
</script>

<style lang="css">
</style>
