<template lang="html">
  <div class="spyfall_board">
    <div class="spyfall_modal" v-if="game.isRoundComplete">
      <p>Game over</p>
      <template v-if="game.isSpyWin">
        <p v-if="game.isVoteResult">Y'all sent the wrong person down! {{ this.$store.getters.spyfallSpy.name }} was the spy</p>
        <p v-else>The spy was {{ this.$store.getters.spyfallSpy.name }} and they guessed correctly</p>
      </template>
      <template v-else>
        <p v-if="game.isVoteResult">You correctly decuded that {{ this.$store.getters.spyfallSpy.name }} was the spy!</p>
        <p v-else>The spy was {{ this.$store.getters.spyfallSpy.name }} and they guessed wrong</p>
      </template>
    </div>

    <template v-else>
      <div class="spyfall_modal" v-if="game.hasRole">
        <SpyfallGame />
      </div>

      <div class="spyfall_modal" v-else>
        <p>Welcome to Spyfall. One of you is a spy, and is trying to work out where you are. The rest of you will already know.</p>
        <p>Uncover the spy without revealing your location. If the spy guesses correctly, they will win.</p>
      </div>
    </template>
  </div>
</template>

<script>
import SpyfallGame from './SpyfallGame.vue';

export default {
  components: {
    SpyfallGame
  },
  computed: {
    game() {
      return this.$store.state.spyfall;
    }
  }
};
</script>

<style media="screen">
.spyfall_board {
  display: flex;
  align-items: center;
  justify-content: center;
  min-height: 100vh;
  background-color: #555;
  color: #FFF;
  font-family: Orbitron, sans-serif;
  font-size: 2rem;
  text-align: center;
}

.spyfall_modal {
  min-width: 50%;
  max-width: 50rem;
  padding: 1rem;
}
</style>
