<template>
  <div>
    <div v-if="$store.state.core.gameId">
      <template v-if="isGameLoaded">
        <div v-if="isErrored" class="load-error">Error loading game. Are you sure the code was right?</div>
        <template v-else>
          <Lobby v-if="!isGameStarted" />
          <template v-else>
            <SpyfallFrame v-if="$store.state.core.gameMode === 'spyfall'" />
          </template>
        </template>
      </template>
      <template v-else>
        Connecting...
      </template>
    </div>
    <HomePage v-else />
  </div>
</template>

<script type="text/javascript">
import HomePage from './HomePage.vue';
import Lobby from './Lobby.vue';
import SpyfallFrame from '../games/spyfall/SpyfallFrame.vue';

export default {
  components: {
    HomePage,
    Lobby,
    SpyfallFrame
  },
  data: () => ({
    isGameLoaded: false
  }),
  computed: {
    isGameStarted() {
      return this.$store.state.core.isStarted;
    },
    isErrored() {
      return this.$store.state.core.isErrored;
    }
  },
  mounted() {
    if (this.$store.state.core.gameId) {
      this.$store.dispatch('GET_GAME_DETAILS')
        .then(() => {
          this.isGameLoaded = true;
        });
    }
  }
};
</script>

<style lang="css">
.load-error {
  max-width: 600px;
  margin: 5rem auto;
  padding: 1rem;
  color: hsl(0, 60%, 35%);
  background-color: hsl(0, 100%, 95%);
  border-left: 5px solid hsl(0, 60%, 65%);
}
</style>
