<template lang="html">
  <div class="home-page">
    <div>
      <h2>Join a game</h2>
      <p>Already got a game going? Join by entering the code below!</p>
      <form>
        <input class="home-page__input" type="text" name="game" value="">
        <br>
        <UiButton type="submit">Join</UiButton>
      </form>
    </div>

    <div>
      <h2>Start a new game</h2>
      <p>What do you want to play?</p>
      <form method="post" action="/new">
        <select class="home-page__input" name="game-mode"><option value="spyfall">Spyfall</option></select>
        <br>
        <UiButton type="submit">Start</UiButton>
      </form>
    </div>
  </div>
</template>

<script>
import UiButton from './UiButton.vue';

export default {
  components: {
    UiButton
  }
};
</script>

<style lang="css">
.home-page {
  margin: 1rem;
  display: grid;
  grid-template-columns: 1fr 1fr;
}

.home-page__input {
  margin-bottom: 1rem;
  padding: .5rem;
  border: 1px solid #CCC;
  border-radius: 3px;
  font-family: inherit;
  font-size: inherit;
}
</style>
