<template lang="html">
  <div>
    <div class="lobby-banner">
      <p>Get ready to play...</p>
      <h1 class="lobby-banner__title">{{ game.name }}</h1>
    </div>
    <div class="dialog">
      <h2 class="dialog__title">Player list</h2>
      <ul class="player-list">
        <li v-for="player in players" :key="player.id" class="player-list__player">
          <span style="flex: auto;">
            <input v-if="player === self && !self.isReady" type="text" :value="player.name" class="player-list__name-box" @change="changeName($event.target.value)">
            <span v-else>{{ player.name }}</span>

            <strong class="player-list__ready-marker" v-if="player.isReady">✔</strong>
          </span>
          <span v-if="player.isHost" style="margin-right: .5rem;">👑</span>
          <strong v-if="player === self">(That's you!)</strong>
        </li>
      </ul>

      <div class="text-center">
        <UiButton @click="toggleReady" v-if="self" :disabled="!arePlayersValid">
          {{ self.isReady ? 'I\'m not ready' : 'I\'m ready' }}
        </UiButton>
        <p v-if="!arePlayersValid"><small>You can't player {{ game.name }} with this number of people!</small></p>
      </div>
    </div>

    <p v-if="playerRules" class="text-center">
      <template v-if="playerRules.min === playerRules.max">This game is played by <strong>{{ playerRules.min }} players</strong></template>
      <template v-else>This game is played by between <strong>{{ playerRules.min }} and {{ playerRules.max }} players</strong></template>
    </p>
  </div>
</template>

<script type="text/javascript">
import UiButton from './UiButton.vue';

export default {
  components: {
    UiButton
  },
  computed: {
    self() {
      return this.$store.getters.self;
    },
    game() {
      return this.$store.getters.game;
    },
    players() {
      const players = Array.from(this.$store.state.core.players.filter(p => p.isConnected === true));
      return players.sort((a, b) => a.order - b.order);
    },
    playerRules() {
      if (this.game.players) {
        if (typeof this.game.players === 'number') {
          return {min: this.game.players, max: this.game.players};
        } else if (typeof this.game.players === 'object') {
          return {min: this.game.players[0], max: this.game.players[1]};
        }
      } else {
        return null;
      }
    },
    arePlayersValid() {
      if (this.playerRules === null) {
        return true;
      } else {
        return this.players.length >= this.playerRules.min && this.players.length <= this.playerRules.max;
      }
    }
  },
  methods: {
    toggleReady() {
      if (this.arePlayersValid || this.self.isReady) {
        this.$store.commit('SET_READY', !this.self.isReady);
      }
    },
    changeName(name) {
      this.$store.commit('SET_NAME', name);
    }
  }
};
</script>

<style lang="css">
.lobby-banner {
  margin-top: 2rem;
  text-align: center;
}

.lobby-banner__title {
  font-size: 4rem;
  font-family: Orbitron, sans-serif;
  font-weight: 900;
  font-style: italic;
  color: SteelBlue;
}

.dialog {
  max-width: 400px;
  margin: 25vh auto;
  padding: 1rem;
  border: 1px solid #CCC
}

.dialog__title {
  margin-bottom: .5rem;
  padding-bottom: .5rem;
  border-bottom: 1px solid #DDD;
}

.player-list {
  margin: 0;
  padding: 0;
  list-style-type: none;
}

.player-list__player {
  display: flex;
  padding: .5rem 0;
  justify-content: space-between;
}

.player-list__name-box {
  font-family: inherit;
  font-size: inherit;
}

.player-list__ready-marker {
  margin-left: 10px;
  color: orange;
}

.player-list__ready-marker::after {
  content: '✔';
  display: inline-block;
  transform: translateX(-19px);
  text-shadow: 0 2px #FFF;
}
</style>
