<template lang="html">
  <button :type="type" :class="{btn: true, 'btn--disabled': disabled}" @click="$emit('click', $event)"><slot /></button>
</template>

<script type="text/javascript">
export default {
  props: {
    disabled: {
      type: Boolean,
      default: false
    },
    type: {
      type: String,
      default: 'button'
    }
  }
};
</script>

<style lang="css">
.btn {
  padding: .5rem .75rem;
  background-color: #34d634;
  border: 0;
  border-radius: 5px;
  color: white;
  font-family: inherit;
  font-size: inherit;
  cursor: pointer;
}

.btn--disabled {
  background-color: white;
  border: 1px dashed #CCC;
  color: #CCC;
  cursor: not-allowed;
}
</style>
